.container {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

.formcard {
  width: 600px;
  height: 520px;
  margin-top: 10px;
}
.formcardList {
  justify-content: center;
  display: flex;
  background: #ddc1b1;
  border-radius: 10px;
}

.formcardBlog {
  width: 500px;
  margin-bottom: 20px;
}

.title {
  margin: 20px 0 20px;
  color: #fafafa;
  text-align: center;
  letter-spacing: 3px;
}

.inputBox {
  display: flex;
  flex-direction: column;
}

.inputText {
  margin-bottom: 20px;
  width: 49%;
}
.inputText input[type = "search"]{
  width: 100%;
}
.inputWrap{
  display: flex;
  justify-content: space-between;
}

.inputBox input {
  height: 50px;
  width: 100%;
  margin-right: 5px;
  border-radius: 10px;
  border: none;
  padding: 15px;
  color: #ddc1b1;
}

input:focus {
  outline: none;
}
::placeholder {
  color: #ddc1b1;
  padding-left: 15px;
  font-weight: bold;
}
.feedbackBox textarea {
  border: none;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  padding: 15px;
  color: #ddc1b1;
}
textarea:focus {
  outline: none;
}
