@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,700&family=Roboto&display=swap');

.bg{
  background: url('../../components/img/bg.png') center no-repeat;
  background-size: cover;
  height: 100vh;
}

.pos{
    position: fixed;
    width: 100%;
    z-index: 999;
   }

.headerBar{
  display: flex;
  justify-content: space-around;
  padding: 10px 30px;
  background: #834a3b;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  
} 

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 40px;
}
.logo img{
  width: 200px;
  transform: scale(1);
}

.navBar ul{
  display: flex;
}
.navBar ul li a{
  display: block;
  padding: 25px 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  transition: color .4s;
}
.navBar ul li a:hover{
  color: #9c9c9c;
}

.login{
  display: flex;
  align-items: center;
}
.login a{
    text-decoration: none;
    display: block;
    padding: 15px 30px;
    border: 1px solid #fff;
    background: #FFF;
    border-radius: 60px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.5);
    color: rgb(125, 37, 0);
    font-weight: 700;
    transition: background .4s;
}
.login a:hover{
  background: #c6c6c6;
}

.txtWrap{
  padding-top: 100px;
  line-height: 1.6;
  letter-spacing: 0.6px;
  width: 65%;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-weight: 700;
}
.txtWrap h2{
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 20px;
}
.txtWrap p{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.99px;
  word-spacing: 3px;
}